{% extends "base.html" %}
{% load static %}

{% block content %}
{#标题#}
<div class="row justify-content-center align-items-center" style="background-image: url('{% static 'images/9598.gif_wh860.gif' %}');height: 300px;">
    <div class="col p-4">
        <h1 class="text-white fw-bold">
            输入网址进行网页图片检测
        </h1>
    </div>
</div>
{#上传图片并识别#}
<div class="container bg-light my-1 p-2">
    {# 加载指示器  #}
    <div class="spinner container">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <div class="row justify-content-center">
                    <h4 class="col-auto text-primary">请稍后...</h4>
                </div>
                <div class="row justify-content-center spinner-container">
                    <div class="col-auto spinner-border text-primary" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

<div class="p-3 bg-white">
    <form class="row g-3 p-3" action="{% url '111' %}" method="POST" id="upload-url-form">
        {% csrf_token %}
        <!-- 隐藏的input字段用于存储URL信息 -->
        <input type="hidden" id="url-hidden-input" name="url" value="">
         添加输入网址的表单字段
        <div class="mb-3">
            <label for="url-input" class="form-label">Input URL:</label>
            <input type="text" class="form-control" id="url-input" name="url" required>
        </div>
    </form>
</div>

<script>
    document.getElementById("url-input").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault(); // 防止默认的回车键行为

            // 将输入框的值设置为隐藏字段的值
            document.getElementById("url-hidden-input").value = document.getElementById("url-input").value;

            // 显示加载提示器
            document.querySelector(".spinner").style.display = "block";

            // 提交表单
            document.getElementById("upload-url-form").submit();
        }
    });
</script>
 {# 显示上传的图片 #}
 {% if all_results %}
<div class="row p-3">
    {% for result in all_results %}
    <div class="col-md-4">
        <div class="thumbnail-container">
            <h2 class="text-primary fw-bold my-3">Input</h2>
            <img src="{{ result.original }}" alt="Input Image">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-container">
            <h2 class="text-primary fw-bold my-3">Output</h2>
            <img src="{{ result.output }}" alt="Output Image">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail-container">
            <h2 class="text-primary fw-bold my-3">Result</h2>
            {% if result.label == "smoke" %}
            <img src="{% static 'images/3.jpg' %}" alt="Positive Image">
            <p>Smoke Detected</p>
            {% elif result.label == "no_smoke" %}
            <img src="{% static 'images/4.jpg' %}" alt="Negative Image">
            <p>Fake-Smoke Detected</p>
            {% elif result.label == "No Detected" %}
            <img src="{% static 'images/no.jpg' %}" alt="Not Detected Image">
            <p>No Detected</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% endblock content %}